@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
    overflow-x: hidden;
}
/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

/* Navbar section */

.btn{
  background: #442f5a;
  color: #fff;
}
.btn:hover{
  background: #442f5a;
  color: #fff;
  opacity: 0.6;
}
.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    z-index: 50;
}
.logoimg{
  height: 50px;
  /* width: 50px; */
}
.nav div .logo {
  /* margin-left: 0 !important; */
  padding-left: 0 !important;
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 2.5rem;
}

.nav div.logo a:hover {
    color: #00E676;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: #00E676;
}
.navlinks{
  z-index: 200;
}

/* Home section */

.home img{
    width: 100%;
    background-position: center top;
	background-size:cover;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Media qurey section */

@media screen and (min-width: 992px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:992px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #111;
}
.affix div.main_list ul li a{
    color: #fff;
}
.affix div.logo a{
    color: #fff;
}





.myH2 {
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}
@media all and (max-width:700px){
	.myP {
		padding:2%;
	}
}

/* Cards Section */

  .cards-section{
    font-size: 13px;
    line-height: 1.5;
    font-weight: 300;
    color: #333;
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    padding: 0;
    min-height: 120vh;
    padding-bottom: 20vh;
    /* background-color: #ecf0f9; */
    background-attachment: fixed;
    box-sizing: border-box;
  }
  
  .content {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
  }
  
  .heading {
    width: 100%;
    margin-left: 1rem;
    font-weight: 900;
    font-size: 5rem;
    /* text-transform: uppercase; */
    letter-spacing: 0.1ch;
    line-height: 1;
    padding-bottom: 0.5em;
    margin-bottom: 1rem;
    position: relative;
    color: #442f5a;
    text-shadow: #555 3px 3px 10px;
  }
  .heading:after {
    display: block;
    content: "";
    position: absolute;
    width: 60px;
    height: 4px;
    background: linear-gradient(135deg, #1a9be6, #1a57e6);
    bottom: 0;
  }
  
  .description {
    width: 100%;
    margin-top: 0;
    margin-left: 1rem;
    margin-bottom: 3rem;
  }
  
  .card {
    color: inherit;
    cursor: pointer;
    width: calc(33% - 2rem);
    min-width: calc(33% - 2rem);
    min-height: 400px;
    perspective: 1000px;
    margin: 1rem;
    position: relative;
    box-shadow: #555 4px 4px 10px;
  }
  @media screen and (max-width: 800px) {
    .card {
      width: calc(50% - 2rem);
    }
  }
  @media screen and (max-width: 500px) {
    .card {
      width: 100%;
    }
  }
  
  .front,
  .back {
    display: flex;
    border-radius: 6px;
    background-position: center;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: ease-in-out 600ms;
  }
  
  .front {
    background-size: cover;
    padding: 2rem;
    font-size: 1.618rem;
    font-weight: 600;
    color: #fff;
    overflow: hidden;
    font-family: Poppins, sans-serif;
    background-color: #695281;
  }
  .front:before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, #1a9be6, #1a57e6);
    opacity: 0.25;
    z-index: -1;
  }
  .card:hover .front {
    transform: rotateY(180deg);
  }
  .card:nth-child(even):hover .front {
    transform: rotateY(-180deg);
  }
  
  .back {
    background: #fff;
    transform: rotateY(-180deg);
    padding: 0 2em;
  }
  .back .button {
    background: linear-gradient(135deg, #1a9be6, #1a57e6);
  }
  .back .button:before {
    box-shadow: 0 0 10px 10px rgba(26, 87, 230, 0.25);
    background-color: rgba(26, 87, 230, 0.25);
  }
  .card:hover .back {
    transform: rotateY(0deg);
  }
  .card:nth-child(even) .back {
    transform: rotateY(180deg);
  }
  .card:nth-child(even) .back .button {
    background: linear-gradient(135deg, #e61a80, #e61a3c);
  }
  .card:nth-child(even) .back .button:before {
    box-shadow: 0 0 10px 10px rgba(230, 26, 60, 0.25);
    background-color: rgba(230, 26, 60, 0.25);
  }
  .card:nth-child(even):hover .back {
    transform: rotateY(0deg);
  }
  
  .button {
    transform: translateZ(40px);
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-weight: bold;
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 100px;
    font: inherit;
    border: none;
    position: relative;
    transform-style: preserve-3d;
    transition: 300ms ease;
  }
  .button:before {
    transition: 300ms ease;
    position: absolute;
    display: block;
    content: "";
    transform: translateZ(-40px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    border-radius: 100px;
    left: 10px;
    top: 16px;
  }
  .button:hover {
    transform: translateZ(55px);
  }
  .button:hover:before {
    transform: translateZ(-55px);
  }
  .button:active {
    transform: translateZ(20px);
  }
  .button:active:before {
    transform: translateZ(-20px);
    top: 12px;
  }

  /* Quiz section */
  .odd{
      min-height: 100vh;
      background: #695281;
      position: relative;
  }
  .heading-2 {
    width: 100%;
    margin-left: 1rem;
    font-weight: 900;
    font-size: 5rem;
    /* text-transform: uppercase; */
    padding-top: 12rem !important;
    letter-spacing: 0.1ch;
    line-height: 1;
    padding-bottom: 0.5em;
    margin-bottom: 1rem;
    color: #fff;
    text-shadow: #aaa 3px 3px 10px;
  }

  .wave{
    position: absolute;
    background-size: cover;
    width: 100%;
    top: 0;
    left: 0;
    /* width: 50%; */
    background-repeat: no-repeat;
  }

  /* Contact Form CSS */
  .contact {
    margin: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
  }
  
  .contact .contact-container {
    display: flex;
    width: 100vw;
    min-height: 70vh;
    background: var(#FCFDFD);
  }
  
  .contact .left-col {
    min-width: 45vw;
    height: 80vh;
    background-image: url("../Assets/Images/contact.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .contact .right-col {
    background: var(#FCFDFD);
    width: 50vw;
    min-height: 70vh;
    padding: 5rem 3.5rem;
  }
  
  .contact h1, .contact label, .contact button, .contact .description {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    letter-spacing: 0.1rem;
  }
  
  .contact p {
    color: #442f5a;
  }
  
  .contact h1 {
    width: 100%;
    margin-left: 1rem;
    font-weight: 900;
    font-size: 5rem;
    /* text-transform: uppercase; */
    letter-spacing: 0.1ch;
    line-height: 1;
    padding-bottom: 0.5em;
    margin-bottom: 1rem;
    position: relative;
    color: #442f5a;
    text-shadow: #555 3px 3px 10px;
  }
  .contact h2{
    font-size: 3rem;
    font-weight: 600;
  }
  .contact ul{
    font-size: 1.5rem;
  }
  .contact label, .contact .description {
    color: var(#818386);
    text-transform: uppercase;
  }
  
  .contact form {
    width: 31.25rem;
    position: relative;
    margin-top: 2rem;
    padding: 1rem 0;
  }
  
  .contact input, .contact textarea, .contact label {
    width: 40vw;
    display: block;
    /* border: 2px solid black; */
  }
  
  .contact p, .contact placeholder, .contact input, .contact textarea {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
  }
  
  .contact input::placeholder, .contact textarea::placeholder {
    color: var(#010712);
  }
  
  .contact input, .contact textarea {
    color: var(#010712);
    font-weight: 500;
    background: var(#FCFDFD);
    border: dotted 2px #000;
    border-bottom: 1px solid var(#818386);
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    outline: none;
  }
  
  .contact textarea {
    resize: none;
  }
  
  .contact button {
    text-transform: uppercase;
    font-weight: 300;
    background: var(#3B3636);
    color: var(#FCFDFD);
    width: 10rem;
    height: 2.25rem;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
  }
  
  .contact input:hover, .contact textarea:hover, .contact button:hover {
    opacity: 0.5;
  }
  
  .contact button:active {
    opacity: 0.8;
  }
  
  /* Toggle Switch */
  
  .contact .theme-switch-wrapper {
    display: flex;
    align-items: center;
    text-align: center;
    width: 160px;
    position: absolute;
    top: 0.5rem;
    right: 0;
  }
  
  .contact .description {
      margin-left: 1.25rem;
    }
  
  .contact .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .contact .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 0.25rem;
    content: "";
    width: 26px;
    height: 26px;
    left: 0.25rem;
    position: absolute;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(#3B3636);
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  #error, #success-msg {
    width: 40vw;
    margin: 0.125rem 0;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-family: 'Jost';
    color: var(#818386);
    }
  
  
    #success-msg {
    transition-delay: 3s;
    }
  
  @media only screen and (max-width: 950px) {
    .contact .left-col{
      display: none;
    }
  
}

/* Footer CSS */
footer {
  text-align: center;
  background-color: #442f5a;
  color: #fff;
  padding: 20px;
  width: 100%;
  /* position: fixed;
  z-index: 1; */
}

/* Importance Section */
.heading-3 {
  width: 100%;
  margin-left: 1rem;
  font-weight: 900;
  font-size: 3rem;
  text-align: center;
  /* text-transform: uppercase; */
  letter-spacing: 0.1ch;
  line-height: 1;
  padding-bottom: 0.5em;
  margin-bottom: 1rem;
  position: relative;
  color: #442f5a;
  text-shadow: #555 3px 3px 10px;
}
.importance{
  font-size: 1.5rem;
  margin: 2%;
  text-align: justify;
  font-weight: 500;
}